html,
body {
  font-family: "Kanit", sans-serif;
  font-size: calc(60% +0.8vmin) !important;
  background-color: #f1f1f1; }

img {
  width: 100%; }

.bg_login {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110; }
  .bg_login .box {
    width: 30%;
    padding: 4rem 1rem;
    background-color: #535353;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative; }
    .bg_login .box label {
      font-size: 0.8rem;
      color: #ff6666; }
    .bg_login .box span {
      font-size: 0.7rem;
      color: #fff; }
    .bg_login .box .logo {
      width: 40%; }
    .bg_login .box .box_input {
      width: 70%; }
    .bg_login .box .btn_login {
      background-color: #c99446;
      padding: 0.4rem 1rem;
      color: #fff;
      cursor: pointer;
      transition: 0.3s; }
      .bg_login .box .btn_login:hover {
        background-color: #fff;
        color: #c99446;
        border: 1px solid #c99446;
        transition: 0.3s; }
    .bg_login .box .register {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      color: #fff; }
      .bg_login .box .register:hover {
        transform: scale(1.1);
        transition: 0.3s; }
      .bg_login .box .register p {
        margin: 0;
        padding: 0;
        text-decoration: underline; }
    .bg_login .box .btn_close {
      width: 30px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer; }
    .bg_login .box.register {
      width: 50%; }

.menu a {
  text-decoration: none; }

.menu .bar {
  width: 100%;
  padding: 1rem;
  background-color: #936c46;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .menu .bar .logo {
    width: 100px;
    height: 30px; }
  .menu .bar .list_menu {
    display: flex;
    justify-content: flex-end; }
    .menu .bar .list_menu .menu {
      display: flex;
      margin-right: 2rem; }
      .menu .bar .list_menu .menu .name_menu {
        margin: 0 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        position: relative;
        justify-content: center; }
        .menu .bar .list_menu .menu .name_menu .active {
          width: 9px;
          height: 9px;
          border-radius: 5px;
          background-color: #FFAC12;
          position: absolute;
          bottom: 0px; }
        .menu .bar .list_menu .menu .name_menu:hover {
          transform: scale(1.1);
          transition: 0.3s; }
        .menu .bar .list_menu .menu .name_menu p {
          margin: 0;
          color: #fff; }
    .menu .bar .list_menu .user {
      display: flex;
      align-content: center; }
      .menu .bar .list_menu .user .btn_login {
        background-color: #c99446;
        padding: 0.4rem 1rem;
        color: #fff;
        cursor: pointer;
        transition: 0.3s; }
        .menu .bar .list_menu .user .btn_login:hover {
          background-color: #fff;
          color: #c99446;
          transition: 0.3s; }
      .menu .bar .list_menu .user .register {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        cursor: pointer;
        transition: 0.3s; }
        .menu .bar .list_menu .user .register:hover {
          transform: scale(1.1);
          transition: 0.3s; }
        .menu .bar .list_menu .user .register p {
          margin: 0;
          padding: 0;
          color: #fff;
          text-decoration: underline; }
  .menu .bar .box_user {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    color: #c99446; }
  .menu .bar .logout {
    background-color: #ff6666;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s; }
    .menu .bar .logout:hover {
      background-color: #fff;
      color: #ff6666;
      transition: 0.3s; }

.home .cover {
  width: 100%; }

.home .text_title {
  padding: 1rem 2rem;
  background-color: #f1f1f1;
  margin-top: -3rem;
  margin-right: 5rem;
  text-align: center;
  z-index: 100;
  color: #936c46; }

.home .about .image_about {
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-top-right-radius: 70px;
  overflow: hidden; }

.home .about .line {
  width: 200px; }

.home .about .box_text h1 {
  color: #936c46; }

.home .about .box_text p {
  color: #936c46; }

.list_pack .line {
  width: 250px; }

.list_pack h2 {
  color: #936c46; }

.list_pack .slide_pack {
  width: 100%; }
  .list_pack .slide_pack .box_pack {
    padding: 2rem; }
    .list_pack .slide_pack .box_pack .box {
      border-radius: 30px;
      overflow: hidden;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      cursor: pointer;
      transition: 0.3s; }
      .list_pack .slide_pack .box_pack .box:hover {
        transform: scale(1.05);
        transition: 0.3s; }
  .list_pack .slide_pack .detail {
    padding: 1rem;
    max-height: 150px;
    overflow: hidden;
    color: #936c46; }
  .list_pack .slide_pack .detail_2 {
    width: 100%;
    margin-top: 1rem;
    display: flex; }
    .list_pack .slide_pack .detail_2 .box1,
    .list_pack .slide_pack .detail_2 .box2,
    .list_pack .slide_pack .detail_2 .box3 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem; }
    .list_pack .slide_pack .detail_2 .box1 {
      width: 35%;
      color: #936c46;
      border-top: 1px solid #ccc; }
      .list_pack .slide_pack .detail_2 .box1 h6 {
        margin: 0; }
    .list_pack .slide_pack .detail_2 .box2 {
      width: 25%;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc; }
    .list_pack .slide_pack .detail_2 .box3 {
      width: 40%;
      padding: 0.3rem;
      border-top: 1px solid #ccc;
      flex-flow: column; }
      .list_pack .slide_pack .detail_2 .box3 .price {
        width: 100%;
        display: flex;
        justify-content: center; }
        .list_pack .slide_pack .detail_2 .box3 .price .old {
          color: #ccc;
          display: flex;
          align-items: flex-start;
          font-size: 0.7rem;
          margin: 0.1rem;
          text-decoration: line-through; }
        .list_pack .slide_pack .detail_2 .box3 .price .new {
          font-size: 1.5rem;
          display: flex;
          align-items: flex-end;
          margin: 0.1rem;
          color: red; }
          .list_pack .slide_pack .detail_2 .box3 .price .new last {
            font-size: 0.5rem; }
      .list_pack .slide_pack .detail_2 .box3 .start_pack {
        font-size: 0.5rem;
        text-align: left; }

.submit_news .box_sub_news {
  width: 100%;
  height: 250px;
  background-image: url("../images/mock/bg_submit_news.png");
  background-position: center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .submit_news .box_sub_news .box {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .submit_news .box_sub_news .box .text {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin: 0 1rem;
      color: #fff; }
    .submit_news .box_sub_news .box .input_email {
      margin: 0 1rem; }
      .submit_news .box_sub_news .box .input_email .box_input {
        width: 300px;
        display: flex; }
        .submit_news .box_sub_news .box .input_email .box_input .input {
          width: 250px;
          border: none;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          padding-left: 1rem; }
        .submit_news .box_sub_news .box .input_email .box_input .btn_submit {
          background-color: #c99446;
          color: #fff;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          cursor: pointer;
          transition: 0.3s; }
          .submit_news .box_sub_news .box .input_email .box_input .btn_submit:hover {
            color: #000;
            background-color: #f1f1f1;
            transition: 0.3s; }

.footer .box {
  width: 100%;
  background-color: #936c46;
  padding: 3rem; }
  .footer .box .logo {
    width: 300px;
    height: 100px; }
  .footer .box .social {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 1rem; }
    .footer .box .social .icon {
      width: 30px;
      margin: 0 1rem;
      cursor: pointer;
      transition: 0.3s; }
      .footer .box .social .icon:hover {
        transform: scale(1.1);
        transition: 0.3s; }
  .footer .box .contact {
    color: #c0a88d;
    margin-top: 1rem; }
  .footer .box .sub_menu {
    width: 100%; }
    .footer .box .sub_menu .title {
      font-size: 1.5rem;
      color: #c0a88d; }
    .footer .box .sub_menu .sub {
      color: #fff; }
      .footer .box .sub_menu .sub p {
        margin: 0;
        cursor: pointer;
        transition: 0.3s; }
        .footer .box .sub_menu .sub p:hover {
          transform: scale(1.1);
          transition: 0.3s; }
  .footer .box .contact_box {
    display: flex;
    justify-content: center;
    margin-top: 2rem; }
    .footer .box .contact_box .box {
      width: 60%;
      padding: 1rem; }
      .footer .box .contact_box .box h4 {
        color: #c0a88d; }
    .footer .box .contact_box .btn_submit {
      margin-top: 1rem;
      width: 80px;
      height: 40px;
      border-radius: 5px;
      padding: 1rem;
      color: #fff;
      background-color: #c99446;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s; }
      .footer .box .contact_box .btn_submit:hover {
        color: #000;
        background-color: #f1f1f1;
        transition: 0.3s; }

.detail .box {
  padding: 2rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%; }
  .detail .box .title p {
    color: #ccc; }
    .detail .box .title p cut {
      text-decoration: line-through; }

.detail .home_detail h2 {
  color: #936c46; }

.detail .home_detail p {
  color: #c0a88d;
  text-indent: 2em; }

.detail .home_detail .box_home_service {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #ccc;
  display: flex; }
  .detail .home_detail .box_home_service .box_service {
    width: 50px;
    margin: 0 1rem;
    display: flex;
    flex-flow: column;
    align-items: center; }
    .detail .home_detail .box_home_service .box_service p {
      text-indent: unset;
      font-size: 0.7rem;
      margin: 0;
      width: 200%;
      text-align: center; }

.detail .activity .activity_group blue {
  color: #669aff; }

.detail .activity .activity_group red {
  color: #ff6666; }

.detail .activity .line {
  border-top: 1px solid #ccc; }

.detail .activity .config {
  display: flex;
  align-items: center; }
  .detail .activity .config .circle {
    width: 20px;
    height: 20px;
    border-radius: 10px; }
    .detail .activity .config .circle.red {
      background-color: #ff6666; }
    .detail .activity .config .circle.blue {
      background-color: #669aff; }
  .detail .activity .config span {
    margin-left: 1rem; }
    .detail .activity .config span.red {
      color: #ff6666; }
    .detail .activity .config span.blue {
      color: #669aff; }

.detail .activity .btn_chenge {
  display: flex;
  justify-content: flex-end; }
  .detail .activity .btn_chenge .btn_day {
    width: 10px;
    margin: 0 0.5rem; }

.detail .activity_change .box_activity {
  width: 150px;
  background-color: #ece2d2;
  border-radius: 10px;
  padding: 1rem;
  position: relative; }
  .detail .activity_change .box_activity .image {
    width: 100%;
    height: 110px;
    border-radius: 10px;
    overflow: hidden;
    background-image: url("../images/mock/act.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .detail .activity_change .box_activity .title {
    margin-top: 0.5rem;
    text-align: center; }
    .detail .activity_change .box_activity .title p {
      color: #936c46; }
  .detail .activity_change .box_activity .tools {
    text-align: center;
    font-size: 0.5rem; }
    .detail .activity_change .box_activity .tools p {
      margin: 0;
      color: #936c46; }
  .detail .activity_change .box_activity .box_detail {
    position: absolute;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    z-index: 100;
    text-align: left;
    top: 0;
    right: -310px; }
    .detail .activity_change .box_activity .box_detail .title {
      text-align: left; }

.detail .activity_change .activty_cha {
  display: flex; }
  .detail .activity_change .activty_cha .box_activity {
    margin: 0 0.5rem;
    background-color: #c0a88d;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor: pointer;
    transition: 0.3s; }
    .detail .activity_change .activty_cha .box_activity:hover {
      transform: scale(1.02);
      transition: 0.3s;
      z-index: 100; }
    .detail .activity_change .activty_cha .box_activity .title p {
      color: #fff; }
    .detail .activity_change .activty_cha .box_activity .tools {
      position: absolute;
      bottom: -2rem;
      width: 110px;
      display: flex;
      justify-content: center; }
      .detail .activity_change .activty_cha .box_activity .tools img {
        width: 20%; }

.detail .checkin {
  position: relative; }
  .detail .checkin input {
    height: 50px; }
  .detail .checkin .box_check_me {
    display: flex;
    justify-content: flex-end; }
    .detail .checkin .box_check_me span {
      color: #535353; }
    .detail .checkin .box_check_me .checkin_me {
      width: 20px;
      height: 20px; }
  .detail .checkin .detail_checkin {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 10px; }
  .detail .checkin .btn_checkin {
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: #936c46;
    border-top-right-radius: 30px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    transition: 0.3s;
    cursor: pointer; }
    .detail .checkin .btn_checkin:hover {
      border: 1px solid #936c46;
      background-color: unset;
      color: #936c46;
      transition: 0.3s; }

.package .box {
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff; }
  .package .box .btn_search {
    padding: 1rem 3rem;
    background-color: #936c46;
    border-radius: 50px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer; }
    .package .box .btn_search:hover {
      transform: scale(1.05);
      transition: 0.3s; }

.package .box_search {
  border-radius: 10px;
  background-color: #c0a88d;
  display: flex; }
  .package .box_search .image {
    width: 40%;
    height: 340px;
    background-size: cover;
    background-position: center; }
  .package .box_search .detail {
    width: 60%;
    color: #fff;
    padding: 1rem;
    position: relative; }
    .package .box_search .detail .box_bottom {
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1rem 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .package .box_search .detail .box_bottom .box_price h1 {
        margin: 0; }
      .package .box_search .detail .box_bottom .box_price p {
        margin: 0;
        text-decoration: line-through; }
      .package .box_search .detail .box_bottom .btn_see_detail {
        background-color: #ffac12;
        border-radius: 10px;
        color: #fff;
        padding: 1rem 2rem;
        cursor: pointer;
        transition: 0.3s; }
        .package .box_search .detail .box_bottom .btn_see_detail:hover {
          transform: scale(1.1);
          transition: 0.3s; }
    .package .box_search .detail .sub p {
      text-indent: 1.5em; }
    .package .box_search .detail .total_activity p {
      margin: 0;
      text-indent: 2em; }
    .package .box_search .detail h2 ss {
      font-size: 1rem;
      margin-left: 1rem; }

.contact .text {
  color: #936C46;
  padding: 0 2rem; }
  .contact .text p {
    font-size: 1.2rem;
    margin: .5rem 0; }

.contact .map {
  width: 100%;
  height: 400px; }

.contact .contact_me {
  color: #936C46;
  background-color: #fff;
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .contact .contact_me .btn_sent {
    padding: .5rem 2rem;
    border-radius: 10px;
    background-color: #C99446;
    color: #fff;
    cursor: pointer;
    transition: .3s; }
    .contact .contact_me .btn_sent:hover {
      transform: scale(1.05);
      transition: .3s; }

.review .box_review .review_list {
  padding: 2rem;
  background-color: #ECE2D2;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex; }
  .review .box_review .review_list .package {
    width: 15%;
    padding: 0; }
    .review .box_review .review_list .package .image {
      width: 100%;
      background-size: cover;
      border-radius: 10px;
      overflow: hidden; }
  .review .box_review .review_list .review_ {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .review .box_review .review_list .review_ span {
      font-size: .8rem;
      color: #C0A88D; }
    .review .box_review .review_list .review_ .text_review {
      color: #936C46; }
    .review .box_review .review_list .review_ .box {
      width: 65%;
      padding: 1rem;
      border-radius: 10px;
      background-color: #fff; }

.review .box {
  padding: 0; }

.review .detail {
  padding: 1rem;
  max-height: 90px;
  overflow: hidden;
  color: #936c46; }
  .review .detail h3 {
    font-size: 1.4rem; }
  .review .detail p {
    font-size: .9rem; }

.review .detail_2 {
  width: 100%;
  margin-top: 1rem;
  display: flex; }
  .review .detail_2 .box1,
  .review .detail_2 .box2,
  .review .detail_2 .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
  .review .detail_2 .box1 {
    width: 35%;
    color: #936c46;
    border-top: 1px solid #ccc; }
    .review .detail_2 .box1 h6 {
      margin: 0;
      font-size: .7rem; }
  .review .detail_2 .box2 {
    width: 25%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: .1rem; }
  .review .detail_2 .box3 {
    width: 40%;
    padding: 0.3rem;
    border-top: 1px solid #ccc;
    flex-flow: column; }
    .review .detail_2 .box3 .price {
      width: 100%;
      display: flex;
      justify-content: center; }
      .review .detail_2 .box3 .price .old {
        color: #ccc;
        display: flex;
        align-items: flex-start;
        font-size: 0.5rem;
        margin: 0.1rem;
        text-decoration: line-through; }
      .review .detail_2 .box3 .price .new {
        font-size: 1rem;
        display: flex;
        align-items: flex-end;
        margin: 0.1rem;
        color: red; }
        .review .detail_2 .box3 .price .new last {
          font-size: 0.5rem; }
    .review .detail_2 .box3 .start_pack {
      font-size: 0.5rem;
      text-align: left; }
