html,
body {
	font-family: "Kanit", sans-serif;
	font-size: calc(60% +0.8vmin) !important;
	background-color: #f1f1f1;
}

img {
	width: 100%;
}
.bg_login {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 110;
	.box {
		width: 30%;
		padding: 4rem 1rem;
		background-color: #535353;
		border-radius: 10px;
		display: flex;
		flex-flow: column;
		align-items: center;
		position: relative;
		label {
			font-size: 0.8rem;
			color: #ff6666;
		}
		span {
			font-size: 0.7rem;
			color: #fff;
		}
		.logo {
			width: 30%;
			&.register {
				width: 15%;
			}
		}
		.box_input {
			width: 70%;
		}
		.btn_login {
			background-color: #c99446;
			padding: 0.4rem 1rem;
			color: #fff;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background-color: #fff;
				color: #c99446;
				border: 1px solid #c99446;
				transition: 0.3s;
			}
		}
		.register {
			display: flex;
			align-items: center;
			cursor: pointer;
			transition: 0.3s;
			color: #fff;
			&:hover {
				transform: scale(1.1);
				transition: 0.3s;
			}
			p {
				margin: 0;
				padding: 0;
				text-decoration: underline;
			}
		}
		.btn_close {
			width: 30px;
			position: absolute;
			right: 10px;
			top: 10px;
			cursor: pointer;
		}
		&.register {
			width: 50%;
		}
	}
}
.menu {
	a {
		text-decoration: none;
	}

	.bar {
		width: 100%;
		padding: 1rem;
		background-color: #936c46;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			width: 145px;
			height: 30px;
			display: flex;
			align-items: center;
		}
		.list_menu {
			display: flex;
			justify-content: flex-end;
			.menu {
				display: flex;
				margin-right: 2rem;
				.name_menu {
					margin: 0 1rem;
					display: flex;
					align-items: center;
					cursor: pointer;
					transition: 0.3s;
					position: relative;
					justify-content: center;
					.active {
						width: 9px;
						height: 9px;
						border-radius: 5px;
						background-color: #ffac12;
						position: absolute;
						bottom: 0px;
					}
					&:hover {
						transform: scale(1.1);
						transition: 0.3s;
					}
					p {
						margin: 0;
						color: #fff;
					}
				}
			}
			.user {
				display: flex;
				align-content: center;
				.btn_login {
					background-color: #c99446;
					padding: 0.4rem 1rem;
					color: #fff;
					cursor: pointer;
					transition: 0.3s;
					&:hover {
						background-color: #fff;
						color: #c99446;
						transition: 0.3s;
					}
				}
				.register {
					display: flex;
					align-items: center;
					margin-left: 1rem;
					cursor: pointer;
					transition: 0.3s;
					&:hover {
						transform: scale(1.1);
						transition: 0.3s;
					}
					p {
						margin: 0;
						padding: 0;
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}
		.box_user {
			padding: 1rem;
			background-color: #fff;
			border-radius: 10px;
			color: #c99446;
		}
		.logout {
			background-color: #ff6666;
			padding: 0.4rem;
			display: flex;
			align-items: center;
			border-radius: 10px;
			margin-left: 10px;
			color: #fff;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background-color: #fff;
				color: #ff6666;
				transition: 0.3s;
			}
		}
	}
}
.home {
	.cover {
		width: 100%;
	}
	.text_title {
		padding: 1rem 2rem;
		background-color: #f1f1f1;
		margin-top: -3rem;
		margin-right: 5rem;
		text-align: center;
		z-index: 100;
		color: #936c46;
	}
	.about {
		.image_about {
			width: 100%;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			border-top-right-radius: 70px;
			overflow: hidden;
		}
		.line {
			width: 200px;
		}
		.box_text {
			h1 {
				color: #936c46;
			}
			p {
				color: #936c46;
			}
		}
	}
}
.list_pack {
	.line {
		width: 250px;
	}
	h2 {
		color: #936c46;
	}
	.slide_pack {
		width: 100%;
		.box_pack {
			padding: 2rem;
			.box {
				border-radius: 30px;
				overflow: hidden;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					transform: scale(1.05);
					transition: 0.3s;
				}
				.image {
					height: 220px;
					background-size: cover;
					background-position: center;
				}
			}
		}
		.detail {
			padding: 1rem;
			height: 150px;
			overflow: hidden;
			color: #936c46;
		}
		.detail_2 {
			width: 100%;
			margin-top: 1rem;
			display: flex;
			.box1,
			.box2,
			.box3 {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 1rem;
			}
			.box1 {
				width: 35%;
				color: #936c46;
				border-top: 1px solid #ccc;
				h6 {
					margin: 0;
				}
			}
			.box2 {
				width: 25%;
				border-top: 1px solid #ccc;
				border-left: 1px solid #ccc;
				border-right: 1px solid #ccc;
			}
			.box3 {
				width: 40%;
				padding: 0.3rem;
				border-top: 1px solid #ccc;
				flex-flow: column;
				.price {
					width: 100%;
					display: flex;
					justify-content: center;
					.old {
						color: #ccc;
						display: flex;
						align-items: flex-start;
						font-size: 0.7rem;
						margin: 0.1rem;
						text-decoration: line-through;
					}
					.new {
						font-size: 1.5rem;
						display: flex;
						align-items: flex-end;
						margin: 0.1rem;
						color: red;
						last {
							font-size: 0.5rem;
						}
					}
				}
				.start_pack {
					font-size: 0.5rem;
					text-align: left;
				}
			}
		}
	}
}
.submit_news {
	.box_sub_news {
		width: 100%;
		height: 250px;
		background-image: url("../images/mock/bg_submit_news.png");
		background-position: center;
		background-size: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.box {
			height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			.text {
				display: flex;
				flex-flow: column;
				align-items: center;
				margin: 0 1rem;
				color: #fff;
			}
			.input_email {
				margin: 0 1rem;
				.box_input {
					width: 300px;
					display: flex;

					.input {
						width: 250px;
						border: none;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
						padding-left: 1rem;
					}
					.btn_submit {
						background-color: #c99446;
						color: #fff;
						width: 50px;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 50px;
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
						cursor: pointer;
						transition: 0.3s;
						&:hover {
							color: #000;
							background-color: #f1f1f1;
							transition: 0.3s;
						}
					}
				}
			}
		}
	}
}
.footer {
	.box {
		width: 100%;
		background-color: #936c46;
		padding: 3rem;
		.logo {
			width: 300px;
			height: 100px;
			display: flex;
			align-items: center;
		}
		.social {
			width: 300px;
			height: 30px;
			display: flex;
			justify-content: center;
			margin-top: 1rem;
			.icon {
				width: 30px;
				margin: 0 1rem;
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					transform: scale(1.1);
					transition: 0.3s;
				}
			}
		}
		.contact {
			color: #c0a88d;
			margin-top: 1rem;
		}
		.sub_menu {
			width: 100%;
			.title {
				font-size: 1.5rem;
				color: #c0a88d;
			}
			.sub {
				color: #fff;
				p {
					margin: 0;
					cursor: pointer;
					transition: 0.3s;
					&:hover {
						transform: scale(1.1);
						transition: 0.3s;
					}
				}
			}
		}
		.contact_box {
			display: flex;
			justify-content: center;
			margin-top: 2rem;
			.box {
				width: 60%;
				padding: 1rem;
				h4 {
					color: #c0a88d;
				}
			}
			.btn_submit {
				margin-top: 1rem;
				width: 80px;
				height: 40px;
				border-radius: 5px;
				padding: 1rem;
				color: #fff;
				background-color: #c99446;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					color: #000;
					background-color: #f1f1f1;
					transition: 0.3s;
				}
			}
		}
	}
}
.detail {
	.box {
		padding: 2rem;
		border-radius: 15px;
		background-color: #fff;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		width: 100%;
		.title {
			p {
				color: #ccc;
				cut {
					text-decoration: line-through;
				}
			}
		}
	}
	.home_detail {
		h2 {
			color: #936c46;
		}
		p {
			color: #c0a88d;
			text-indent: 2em;
		}
		.box_home_service {
			width: 100%;
			padding: 1rem;
			border-top: 1px solid #ccc;
			display: flex;
			.box_service {
				width: 50px;
				margin: 0 1rem;
				display: flex;
				flex-flow: column;
				align-items: center;
				p {
					text-indent: unset;
					font-size: 0.7rem;
					margin: 0;
					width: 200%;
					text-align: center;
				}
			}
		}
	}
	.activity {
		.activity_group {
			blue {
				color: #669aff;
			}
			red {
				color: #ff6666;
			}
		}

		.line {
			border-top: 1px solid #ccc;
		}
		.config {
			display: flex;
			align-items: center;
			.circle {
				width: 20px;
				height: 20px;
				border-radius: 10px;
				&.red {
					background-color: #ff6666;
				}
				&.blue {
					background-color: #669aff;
				}
			}
			span {
				margin-left: 1rem;
				&.red {
					color: #ff6666;
				}
				&.blue {
					color: #669aff;
				}
			}
		}
		.btn_chenge {
			display: flex;
			justify-content: flex-end;
			.btn_day {
				width: 10px;
				margin: 0 0.5rem;
			}
		}
	}
	.activity_change {
		.box_activity {
			width: 80%;
			background-color: #ece2d2;
			border-radius: 10px;
			padding: 1rem;
			position: relative;
			.image {
				width: 100%;
				height: 110px;
				border-radius: 10px;
				overflow: hidden;
				background-image: url("../images/mock/act.png");
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			.title {
				margin-top: 0.5rem;
				text-align: center;
				height: 90px;
				overflow: hidden;
				margin-bottom: 1rem;
				p {
					color: #936c46;
				}
			}
			.tools {
				text-align: center;
				font-size: 0.5rem;
				p {
					margin: 0;
					color: #936c46;
				}
			}
			.box_detail {
				position: absolute;
				width: 300px;
				background-color: rgba(0, 0, 0, 0.7);
				padding: 1rem;
				border-radius: 10px;
				color: #fff;
				z-index: 100;
				text-align: left;
				top: 0;
				right: -310px;
				.title {
					text-align: left;
				}
			}
		}
		.activty_cha {
			display: flex;
			.box_activity {
				margin: 0 0.5rem;
				min-width: 140px;
				background-color: #c0a88d;
				position: relative;
				display: flex;
				flex-flow: column;
				align-items: center;
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					transform: scale(1.02);
					transition: 0.3s;
					z-index: 100;
				}
				.title {
					p {
						color: #fff;
					}
				}
				.tools {
					img {
						width: 20%;
					}
					position: absolute;
					bottom: -2rem;
					width: 110px;
					display: flex;
					justify-content: center;
				}
			}
		}
	}
	.checkin {
		position: relative;
		input {
			height: 50px;
		}
		.status_payment {
			border-radius: 5px;
			border: 1px solid #000;
			padding: 1rem 0;
			h2 {
				margin: 0;
			}
		}
		.box_check_me {
			display: flex;
			justify-content: flex-end;
			span {
				color: #535353;
			}
			.checkin_me {
				width: 20px;
				height: 20px;
			}
		}

		.detail_checkin {
			background-color: #f5f5f5;
			padding: 1rem;
			border-radius: 10px;
		}
		.btn_checkin {
			margin-top: 1rem;
			padding: 1.5rem;
			background-color: #936c46;
			border-top-right-radius: 30px;
			color: #fff;
			font-size: 1.2rem;
			text-align: center;
			transition: 0.3s;
			cursor: pointer;
			&:hover {
				border: 1px solid #936c46;
				background-color: unset;
				color: #936c46;
				transition: 0.3s;
			}
		}
	}
}
.package {
	.box {
		padding: 1rem;
		border-radius: 10px;
		background-color: #fff;
		.btn_search {
			padding: 1rem 3rem;
			background-color: #936c46;
			border-radius: 50px;
			color: #fff;
			transition: 0.3s;
			cursor: pointer;
			&:hover {
				transform: scale(1.05);
				transition: 0.3s;
			}
		}
	}
	.box_search {
		border-radius: 10px;
		background-color: #c0a88d;
		display: flex;
		position: relative;
		.sold_out {
			width: 100%;
			height: 100%;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 8rem;
			z-index: 2;
		}
		.image {
			width: 40%;
			height: 340px;
			background-size: cover;
			background-position: center;
		}
		.detail {
			width: 60%;
			color: #fff;
			padding: 1rem;
			position: relative;
			.box_bottom {
				width: 100%;
				height: 100px;
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 1rem 3rem;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.box_price {
					h1 {
						margin: 0;
					}
					p {
						margin: 0;
						text-decoration: line-through;
					}
				}
				.btn_see_detail {
					background-color: #ffac12;
					border-radius: 10px;
					color: #fff;
					padding: 1rem 2rem;
					cursor: pointer;
					transition: 0.3s;
					&:hover {
						transform: scale(1.1);
						transition: 0.3s;
					}
				}
			}

			.sub {
				p {
					text-indent: 1.5em;
				}
			}
			.total_room {
				position: absolute;
				right: 1rem;
				top: 1rem;
				text-align: right;
				p {
					margin: 0;
					line-height: 1.7rem;
				}
				sx {
					font-size: 2rem;
				}
			}
			.total_activity {
				p {
					margin: 0;
					text-indent: 2em;
				}
			}
			h2 {
				ss {
					font-size: 1rem;
					margin-left: 1rem;
				}
			}
		}
	}
}
.contact {
	.text {
		color: #936c46;
		padding: 0 2rem;
		p {
			font-size: 1.2rem;
			margin: 0.5rem 0;
		}
	}
	.map {
		width: 100%;
		height: 400px;
	}
	.contact_me {
		color: #936c46;
		background-color: #fff;
		width: 100%;
		padding: 2rem;
		border-radius: 10px;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		.btn_sent {
			padding: 0.5rem 2rem;
			border-radius: 10px;
			background-color: #c99446;
			color: #fff;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				transform: scale(1.05);
				transition: 0.3s;
			}
		}
	}
}
.review {
	.box_review {
		.review_list {
			overflow: hidden;
			background-color: #ece2d2;
			border-radius: 10px;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			display: flex;
			.package {
				width: 30%;
				padding: 0;
				height: 250px;
				background-position: center;
				background-size: cover;
				display: flex;
				align-items: flex-end;
				.text_name{
					width: 100%;
					background-color: #fff;
					padding: .5rem 0;
					text-align: center;
					h5,p{
						margin: 0;
					}
				}
				.image {
					width: 100%;
					background-size: cover;
					border-radius: 10px;
					overflow: hidden;
				}
			}
			.review_ {
				width: 80%;
				display: flex;
				justify-content: center;
				align-items: center;
				span {
					font-size: 1rem;
					color: #c0a88d;
				}
				.text_review {
					color: #936c46;
					font-size: 1.2rem;
				}
				.box {
					width: 90%;
					height: 80%;
					padding: 1rem;
					border-radius: 10px;
					background-color: #fff;
				}
			}
		}
	}
	.box {
		padding: 0;
	}
	.detail {
		padding: 1rem;
		max-height: 90px;
		overflow: hidden;
		color: #936c46;
		h3 {
			font-size: 1.4rem;
		}
		p {
			font-size: 0.9rem;
		}
	}
	.detail_2 {
		width: 100%;
		margin-top: 1rem;
		display: flex;
		.box1,
		.box2,
		.box3 {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
		}
		.box1 {
			width: 35%;
			color: #936c46;
			border-top: 1px solid #ccc;
			h6 {
				margin: 0;
				font-size: 0.7rem;
			}
		}
		.box2 {
			width: 25%;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			padding: 0.1rem;
		}
		.box3 {
			width: 40%;
			padding: 0.3rem;
			border-top: 1px solid #ccc;
			flex-flow: column;
			.price {
				width: 100%;
				display: flex;
				justify-content: center;
				.old {
					color: #ccc;
					display: flex;
					align-items: flex-start;
					font-size: 0.5rem;
					margin: 0.1rem;
					text-decoration: line-through;
				}
				.new {
					font-size: 1rem;
					display: flex;
					align-items: flex-end;
					margin: 0.1rem;
					color: red;
					last {
						font-size: 0.5rem;
					}
				}
			}
			.start_pack {
				font-size: 0.5rem;
				text-align: left;
			}
		}
	}
}
.listpackage {
	.box_package {
		.box_search {
			border-radius: 10px;
			background-color: #c0a88d;
			display: flex;
			overflow: hidden;
			position: relative;
			.status {
				position: absolute;
				right: 1rem;
				top: 1rem;
				padding: 0.5rem 2rem;
				background-color: #fff;
				border-radius: 10px;
				h4 {
					margin: 0;
				}
			}
			.image {
				width: 35%;
				height: 340px;
				background-size: cover;
				background-position: center;
			}
			.detail {
				width: 65%;
				color: #fff;
				padding: 1rem 2rem;
				position: relative;
				.box_bottom {
					width: 100%;
					height: 100px;
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 1rem 3rem;
					display: flex;
					justify-content: space-between;
					align-items: center;
					a {
						text-decoration: none;
					}
					.box_price {
						h1 {
							margin: 0;
						}
						p {
							margin: 0;
							text-decoration: line-through;
						}
					}
					.btn_see_detail {
						background-color: #ffac12;
						border-radius: 10px;
						color: #fff;
						padding: 1rem 2rem;
						cursor: pointer;
						transition: 0.3s;
						&:hover {
							transform: scale(1.1);
							transition: 0.3s;
						}
					}
					.btn_review {
						background-color: #f1f1f1;
						border-radius: 10px;
						color: #111;
						padding: 1rem 2rem;
						cursor: pointer;
						transition: 0.3s;
						&:hover {
							transform: scale(1.1);
							transition: 0.3s;
						}
					}
				}

				.sub {
					p {
						text-indent: 1.5em;
					}
				}
				.total_activity {
					p {
						margin: 0;
						text-indent: 2em;
					}
				}
				h2 {
					ss {
						font-size: 1rem;
						margin-left: 1rem;
					}
				}
			}
		}
	}
}
.bg_black {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	.popup {
		width: 40%;
		padding: 2rem;
		background-color: #fff;
		border-radius: 10px;
		pointer-events: all;
		z-index: 11;
		position: relative;
		.btn_send_review {
			padding: 0.5rem 2rem;
			border-radius: 5px;
			background-color: #ffac12;
			color: #fff;
			transition: 0.3s;
			cursor: pointer;
			&:hover {
				transform: scale(1.1);
				transition: 0.3s;
			}
		}
		.btn_close {
			position: absolute;
			width: 30px;
			height: 30px;
			top: 10px;
			right: 10px;
			cursor: pointer;
		}
	}
}
.no_event {
	pointer-events: none;
	opacity: 0.5;
}
.back_package_manage {
	.box_image_cover,.box_image_activty{
		.preview{
			width: 100%;
			height: 100px;
			background-color: #fff;
			background-size: cover;
			background-position: center;
			background-image: url('../images/image.jpg');
		}
	}
	.list_activity {
		border-radius: 5px;
		border: 1px solid #ccc;
		background-color: #fff;
		padding: 1rem 0;
		margin: 0.3rem 0;
	}
	.day_btn{
		&.no_active{
			opacity: .5;
		}
	}
	.btn_add_pack{
		position: fixed;
		bottom: 1rem;
		right: 1rem;
		padding: 1rem 2rem;
	}
}
.bg_back{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #f1f1f1;
	display: flex;
	justify-content: center;
	align-items: center;
	.popup{
		width: 30%;
		padding: 1rem;
		border-radius: 10px;
		background-color: #fff;
		.image{
			width: 25%;
		}
	}
}
